// COLOR VARIABLES
$color-primary: #f7de38;


$color-secondary: #e9e9e9;
$color-secondary_dark: #2b2b2b;


//FONT FAMILIES
$font-primary: 'Lato', sans-serif; 
$font-display: 'Josefin Sans', sans-serif;


// media queries
$bp-largest:75em;
$bp-large:62.5em;


*, *::before, 
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;

    @include respond(tabl-port ){
        font-size: 50%;
    }
    
}

body {
    font-family: $font-primary;
    font-weight: 300;
    color:$color-secondary_dark;
    line-height: 1.6;
    // background-color:orange;
}

.container {
    display: grid;

    grid-template-rows: 85vh  repeat(4, minmax(min-content, max-content));
    grid-template-columns:  [ full-start] minmax(6rem, 1fr )  
    [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end] ) [center-end] minmax(6rem, 1fr ) [full-end];

    // @include respond(tabl-lands-1000) {
    //     grid-template-rows: 6rem 80vh min-content 40vw repeat(3, min-content);
    //     grid-template-columns: [ full-start] minmax(6rem, 1fr )  
    //     [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end] ) [center-end] minmax(6rem, 1fr ) [full-end];
    //  }

     @include respond(tabl-port){
        grid-template-rows: 70vh ;

          }

}
     

