/*ORDER : BAse + typography> 
Base LAyouts + Grid>
Page Layouts +Components */
*, *::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }

body {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  color: #2b2b2b;
  line-height: 1.6; }

.container {
  display: grid;
  grid-template-rows: 85vh repeat(4, minmax(min-content, max-content));
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; }
  @media (max-width: 56.25em) {
    .container {
      grid-template-rows: 70vh; } }

.header {
  grid-column: full-start/ full-end;
  display: grid;
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
  grid-template-rows: min-content 1fr; }
  .header__still {
    grid-column: center-start/ center-end;
    grid-row: 1/span 1;
    display: grid;
    grid-template-columns: min-content  1fr; }
    @media (max-width: 37.5em) {
      .header__still {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: min-content 1fr;
        justify-items: center; } }
  .header__logo {
    grid-column: 1/ span 1;
    margin: 2rem;
    display: grid;
    grid-template-columns: repeat(2, min-content);
    align-items: center; }
    .header__logo img {
      height: 7rem; }
      @media (max-width: 37.5em) {
        .header__logo img {
          height: 4rem; } }
    .header__logo p {
      color: #f7de38;
      font-size: 3rem;
      font-weight: 700;
      line-height: 1; }
  .header__nav {
    justify-self: end;
    display: flex;
    align-items: center;
    margin: 2rem; }
    .header__nav .nav-list {
      text-decoration: none; }
    @media (max-width: 37.5em) {
      .header__nav {
        justify-content: end; } }
    .header__nav .nav-item {
      display: inline-block; }
      .header__nav .nav-item a, .header__nav .nav-item a:link, .header__nav .nav-item a:visited {
        text-transform: uppercase;
        text-decoration: none;
        font-size: 1.6rem;
        font-weight: 400;
        color: white;
        margin: 1rem 2rem 1rem 2rem; }
        @media (max-width: 56.25em) {
          .header__nav .nav-item a, .header__nav .nav-item a:link, .header__nav .nav-item a:visited {
            font-size: 2.3rem; } }
  .header__slider {
    grid-column: center-start/ center-end;
    grid-row: 2/span 1;
    align-items: center;
    display: grid;
    grid-template-columns: min-content 1fr min-content; }
    .header__slider .box__text {
      margin: 5rem; }
      @media (max-width: 56.25em) {
        .header__slider .box__text {
          margin-top: 10rem; } }
      .header__slider .box__text h3 {
        font-size: 5rem;
        font-weight: 400;
        margin-top: 7rem;
        color: #f7de38;
        margin-bottom: 2rem;
        display: block;
        width: 40%;
        line-height: 1; }
        @media (max-width: 75em) {
          .header__slider .box__text h3 {
            font-size: 4rem;
            width: 80%; } }
        @media (max-width: 56.25em) {
          .header__slider .box__text h3 {
            font-size: 4rem;
            width: 100%; } }
      .header__slider .box__text p {
        display: block;
        width: 40%;
        font-size: 2.0rem;
        color: white;
        margin-bottom: 3.5rem; }
        @media (max-width: 75em) {
          .header__slider .box__text p {
            font-size: 2.2rem;
            width: 80%; } }
        @media (max-width: 56.25em) {
          .header__slider .box__text p {
            font-size: 2.5rem;
            width: 100%; } }
    .header__slider__button {
      align-self: start; }
      .header__slider__button, .header__slider__button:link, .header__slider__button:visited {
        text-decoration: none;
        text-transform: uppercase;
        padding: 1.0rem 2rem;
        box-shadow: 0 1rem 2rem rgba(21, 21, 21, 0.2);
        font-size: 1.6rem;
        border: none;
        cursor: pointer;
        border-radius: 2rem;
        display: inline-block;
        background-color: #f7de38;
        color: #2b2b2b;
        font-weight: 700; }
    .header__slider .slider-arrow {
      align-self: center;
      width: 2rem;
      height: 2rem; }
      .header__slider .slider-arrow--left {
        grid-column: 1/span 1; }
      .header__slider .slider-arrow--right {
        grid-column: 3/span 1; }
  .header__img {
    position: absolute;
    grid-row: 1/span 2;
    grid-column: full-start/ full-end;
    height: 100%;
    z-index: -100;
    filter: brightness(0.7); }

.owl-carousel {
  grid-column: full-start/ full-end;
  background-color: #e9e9e9; }
  .owl-carousel .item {
    display: grid;
    grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
    grid-template-rows: min-content 1fr; }
  .owl-carousel .owl-stage {
    margin-bottom: 0rem;
    height: 100%; }
  .owl-carousel .owl-stage-outer {
    height: 100%; }
  .owl-carousel .owl-item,
  .owl-carousel .owl-item-active {
    height: 100%; }
  .owl-carousel .owl-dots {
    background-color: #e9e9e9; }

.food {
  grid-column: full-start/ full-end;
  background-color: #e9e9e9;
  display: grid;
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; }
  .food__box {
    grid-column: center-start/ center-end;
    display: grid;
    grid-template-columns: minmax(min-content, max-content);
    grid-template-rows: repeat(3, minmax(min-content, max-content));
    justify-content: center; }
  .food__heading {
    grid-column: 1/ span 4;
    margin: 4rem 0 4rem 0;
    text-align: center;
    font-size: 3.2rem;
    font-weight: 700; }
  .food__choosen {
    background-color: #f7de38;
    grid-column: 1/ span 4;
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-columns: min-content minmax(min-content, 1fr);
    margin-bottom: 3rem; }
    .food__choosen-text {
      margin: 2rem;
      margin-left: 5rem; }
      .food__choosen-text h3 {
        color: red;
        font-size: 3.2rem;
        font-weight: 400; }
      .food__choosen-text p {
        font-size: 1.4rem;
        margin-bottom: 3rem; }
    .food__choosen-list {
      font-size: 1.4rem;
      margin-bottom: 3rem;
      margin-left: 2rem; }
  .food__general {
    grid-column: 1/span 4;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    grid-column-gap: 2rem; }

.recipe {
  display: grid;
  justify-content: center;
  margin-bottom: 2rem;
  text-transform: uppercase;
  justify-items: center;
  padding: 2rem  4rem 2rem  4rem;
  background-color: white; }
  .recipe:hover {
    background-color: #f7de38;
    margin-bottom: 0; }
  .recipe__title {
    font-size: 3.2rem;
    font-weight: 300; }
  .recipe:hover .recipe__title {
    margin-bottom: 2rem; }
  .recipe__img {
    border-radius: 50%;
    height: 10rem;
    display: block; }

.contact {
  grid-column: full-start/ full-end;
  display: grid;
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
  background-color: #2b2b2b; }
  .contact__box {
    grid-column: center-start/ center-end;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: min-content min-content 1fr; }
    .contact__box-text {
      justify-self: start;
      color: #f7de38; }
      .contact__box-text h3 {
        font-size: 3.2rem;
        font-weight: 400;
        margin-top: 4rem; }
      .contact__box-text p {
        margin-top: 4rem; }
    .contact__box-logo {
      padding-top: 10rem;
      justify-self: end;
      display: flex; }
      .contact__box-logo__img {
        margin: .2rem;
        width: 4rem;
        height: 4rem; }

.copyright {
  grid-column: 1/ span 2;
  color: white;
  margin-top: 2rem;
  margin-bottom: 2rem; }

.download {
  grid-column: full-start/ full-end;
  background-color: white;
  display: grid;
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
  background-image: url(../img/Download_img_big.jpg);
  background-size: cover;
  height: 50rem; }
  .download__box {
    grid-column: center-start/ center-end;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: min-content min-content 1fr;
    justify-content: center; }
  .download__text h3 {
    font-size: 3.2rem;
    font-weight: 400;
    margin-top: 7rem; }
  .download__text p {
    font-size: 1.4rem;
    margin-bottom: 3rem;
    margin-top: 2rem; }
  .download__button, .download__button:link, .download__button:visited {
    text-decoration: none;
    text-transform: uppercase;
    padding: 1.0rem 2rem;
    box-shadow: 0 1rem 2rem rgba(21, 21, 21, 0.2);
    font-size: 1.6rem;
    border: none;
    cursor: pointer;
    border-radius: 2rem;
    display: inline-block;
    background-color: #f7de38;
    color: #2b2b2b;
    font-weight: 700; }
